@import "tailwindcss";

@layer base {
  input:-webkit-autofill {
    -webkit-text-fill-color: white;
    caret-color: white;
    -webkit-box-shadow: 0 0 0 1000px #18181b inset;
  }
}

/* Breakpoints */
@theme {
  --breakpoint-*: initial;

  --breakpoint-mobile-small: 375px;
  --breakpoint-mobile: 480px;
  --breakpoint-mobile-landscape: 640px;
  --breakpoint-tablet-portrait: 768px;
  --breakpoint-tablet-landscape: 1024px;
  --breakpoint-laptop: 1280px;
}

/* Dark mode variant */
@custom-variant dark (&:where(.dark, .dark *));

/* Colors */
@theme {
  --color-bg-dark: #131313;
  --color-text-dark: #e5e2e1;

  --color-bg-light: #ffffff;
  --color-text-light: #111111;
}

/* DEFAULT = DARK */
@layer base {
  html {
    direction: rtl;
    font-family: "YekanBakh-SemiBold", sans-serif;

    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
  }

  html.light {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
  }
}

@keyframes luxScrollFast {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-luxScrollFast {
  animation: luxScrollFast 1.1s ease-in-out infinite;
}

/* استایل پایه */

@font-face {
  font-family: "YekanBakh-Light";
  src: url("../public/fonts/iranyekanweblightfanum.woff") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh-SemiBold";
  src: url("../public/fonts/YekanBakhFaNum-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh-Bold";
  src: url("../public/fonts/YekanBakhFaNum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh-ExtraBold";
  src: url("../public/fonts/YekanBakhFaNum-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    direction: rtl;
    font-family: "YekanBakh-SemiBold", sans-serif;
  }
}

@keyframes modalReveal {
  from {
    opacity: 0;
    transform: translateY(12px) scale(0.985);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
